<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">

    <title>Maquetado de Ambos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/MAQUETADO Cervezeria.css">
    <link rel="icon" href="/images/LOGO-modified.png">


</head>

<body>

    <nav id="navbarr" class="navbar navbar-expand-lg bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img class="icon1" src="/images/LOGO-modified.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" >Modelos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" >Sobre Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Proximamente</a>
                    </li>
                    <li class="buscador">

                        <input class="form-control me-2" type="search" placeholder="¿Qué estás buscando?" aria-label="Search">
                        <div><button id="busqueda" class="btn btn-secondary" type="submit"> Buscar</button></div>
                    </li>

                        <div class="logsesion" >
                        
                            <button id="register" class="btn btn-dark" type="submit"> <a href="/registrarusuario" target="_blank"> Registrarse</a></button>
                            <button id="login" class="btn btn-dark" type="submit"><a href="/admin/login" target="_blank"> Loguearse</a></button></div>
                    
                </ul>
            </div>
        </div>
    </nav>

    {{{body}}} 
    
    <footer class="footer">
        <div class="row align-items-start">
            <div class="col-4">
                <p><a href="/FORMULARIODECONTACTO" target="_blank">Contactenos</a> </p>
            </div>

            <div class="col-4">
                <p><a href="https://oei.int/downloads/disk/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdDRG9JYTJWNVNTSWhNMjVvYUhOMGRuWmxjRFZ0Ym01bWJIYzFhV2xvZDNOcmVuaG1iQVk2QmtWVU9oQmthWE53YjNOcGRHbHZia2tpQWNCcGJteHBibVU3SUdacGJHVnVZVzFsUFNKUVRFbEZSMDhnUkVVZ1EwOU9SRWxEU1U5T1JWTWdSMFZPUlZKQlRFVlRJRlZPU1VaSlEwRkVUeUFsTWpoUFFsSkJKVEpESUVKVElGa2dVMFZTVmlVeU9TNXdaR1lpT3lCbWFXeGxibUZ0WlNvOVZWUkdMVGduSjFCTVNVVkhUeVV5TUVSRkpUSXdRMDlPUkVsRFNVOU9SVk1sTWpCSFJVNUZVa0ZNUlZNbE1qQlZUa2xHU1VOQlJFOGxNakFsTWpoUFFsSkJKVEpESlRJd1FsTWxNakJaSlRJd1UwVlNWaVV5T1M1d1pHWUdPd1pVT2hGamIyNTBaVzUwWDNSNWNHVkpJaFJoY0hCc2FXTmhkR2x2Ymk5d1pHWUdPd1pVIiwiZXhwIjoiMjAyMi0xMi0yNVQxODo1MjoxOC4xOTdaIiwicHVyIjoiYmxvYl9rZXkifX0=--9113bb4637d059965c6b341cd0f1db0929133f6d/PLIEGO%20DE%20CONDICIONES%20GENERALES%20UNIFICADO%20(OBRA,%20BS%20Y%20SERV).pdf?content_type=application%2Fpdf&disposition=inline%3B+filename%3D%22PLIEGO+DE+CONDICIONES+GENERALES+UNIFICADO+%2528OBRA%252C+BS+Y+SERV%2529.pdf%22%3B+filename%2A%3DUTF-8%27%27PLIEGO%2520DE%2520CONDICIONES%2520GENERALES%2520UNIFICADO%2520%2528OBRA%252C%2520BS%2520Y%2520SERV%2529.pdf" download target="_blank">Condiciones Legales</a></p>
            </div>

            <div class="col-4">
                <p>SIGAMOS CONECTADOS</p>
                <ul class="social-icons">
                    <li>
                        <a href="#"><i class="facebook"> <img class="icon1" src="/images/facebook.png" alt=""></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="instagram"> <img class="icon1" src="/images/instagram.png" alt=""></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="WhatsApp"> <img class="icon1" src="/images/whatsapp .png" alt=""></i></a>
                    </li>

                </ul>
            </div>
        </div>
<div class="map">
    <p>VISITANOS</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.8190467204945!2d-58.46952788519322!3d-34.65927256794591!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc966bf151d67%3A0x255fef772508e89c!2sUTN.BA!5e0!3m2!1ses-419!2sar!4v1665013003628!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
    <p class="Copyright"> Creado por Maquetado Ambo® </p>
</div>
    </footer>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>


</body>
</html>